/*HeroSection*/

.carousel-item {
  height: 100vh; /* Full height for the carousel */
}

.carousel-item img {
  width: 100%; /* Full width of the container */
  height: 100%; /* Full height of the container */
  object-fit: cover; /* Cover to fill without stretching */
}

.carousel-caption {
  position: absolute; /* Position absolutely to align correctly */
  bottom: 50px; /* Adjust from the bottom */
  left: 0;
  right: 0;
  text-align: center; /* Center align text */
  color: white; /* Set text color to white for visibility */
}

.carousel-caption h5 {
  font-size: 36px; /* Adjust font size for better visibility */
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px; /* Space below the heading */
}

.carousel-caption p {
  width: 60%; /* Width of paragraph */
  margin: auto; /* Center the paragraph */
  font-size: 16px; /* Size of the paragraph text */
  line-height: 1.5; /* Line height */
}

.carousel-inner {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4); /* Semi-transparent black background */
}

/* Media queries for small screens */
@media only screen and (max-width: 767px) {
  .carousel-caption {
    bottom: 20px; /* Adjust from the bottom for smaller screens */
  }

  .carousel-caption h5 {
    font-size: 20px !important; /* Smaller font size for smaller screens */
  }

  .carousel-caption p {
    font-size: 14px; /* Smaller font size for smaller screens */
    width: 80%; /* Wider width on smaller screens */
  }
}


/*Footer*/

.footer-icons i {
  padding: 0.4rem 0.5rem;
  background: #e1e1e1;
  color: #1d1c1c;
  margin: 0 0.5rem;
  border-radius: 50%;
}


.footer-icons i:hover {
  background: #444242;
  color: #fff;
  margin: 0 0.5rem;
  border-radius: 50%;
}

.footer-list li{
  list-style-type: none;
}

.footer-list li a{
  color: white;
  transition: color 0.3s ease;
}

.footer-list li a:hover{
  color: #8275f1;
}