@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
  --main : #C5A1C4;
  --black: #333;
  --secundario: #B183AF;
}

.navbar{
  background-color: var(--main);
}

.navbar-brand{
  font-family: 'PTSans' , sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  color: var(--black);
}

.bg{
  background-color: var(--secundario);
}
